<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="css/icon-font.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="scripts/script.js"></script>
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <title>Get Talking</title>
        
    </head>
    <body>
            <%if(user){%>
            <%}%>
            <nav class= "main-nav">
                    <ul>
                        <li><a href="#login_Form">SIGN IN </a></li>
                        <li><a href="#registration_form">REGISTER</a></li>
                    </ul>
                </nav>

            <header class="header">
            <div class="header__logo-box">
            <img src="img/logo-white.png" alt="Logo" class="header__logo">
            </div>
           
            <video autoplay muted loop id="myVideo">
                 <source src="img/taj.mp4" type="video/mp4">
            </video>
            
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main" id="Homepage">Get Talking</span>
                    <span class="heading-primary--sub">Ask Anything You Like </span>
                </h1>

                <a href="#" class="btn btn--white btn--animated">Join Here</a>
            </div>

            </header>


            <div id="login_Form" class="popup">
                    <div class="popup__content">
                    <div class="box">
                        <h2>SIGN IN</h2>
                            <form id="loginForm">
                                <a href="#Homepage" class="close_button">&times;</a>
                                <div class="inputbox">
                                    <input type="text" name="username" required=""0 >
                                    <label for="Username">Username</label>  
                                </div>
                                <div class="inputbox">
                                    <input type="Password" name="password" required="" minlength="6" maxlength="16">
                                    <label for="Password">Password</label>
                                    <input type="submit" name="login-btn" id="login-btn">
                                </div>
                            </form>
                                
                    </div>
                    </div>
                </div>

            <div id="registration_form" class="popup">
                <div class="popup__content">
                <div class="box">
                    <h2>SIGN UP</h2>

                        <form id="registrationForm" autocomplete="off">
                            <a href="#Homepage" class="close_button">&times;</a>
                    <div id="signupMessage"></div>
                        <form id="registrationForm">

                            <div class="inputbox">
                                <input type="text" name="firstName" required="" autocomplete="off">
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="inputbox">
                                <input type="text" name="lastName" required="" autocomplete="off">
                                <label for="lastname">Last Name</label>
                            </div>
                            <div class="inputbox">
                                <input type="text" name="email" required="" autocomplete="off" >
                                <label for="email">Email</label>
                            </div>
                            <div class="inputbox">
                                <input type="Password" name="password" required="" minlength="6" maxlength="16">
                                <label for="password">Password</label>
                            </div>
                            <div class="inputbox">
                                <input type="Password" name="confirmPassword" required="" minlength="6" maxlength="16">
                                <label for="confirmPassword">Confirm password</label>
                            </div>
                            <div class="inputbox">
                                <input type="text" name="mobile" required="">
                                <label for="mobile">Phone Number</label>
                                <input type="submit" name="">
                            </div>
                        </form>
                            
                </div>
                </div>
            </div>

           
    </body>
</html>
